<!doctype html>
<html ng-app="codecast" ng-controller="AuthCtrl">
<meta charset="utf-8">
<title>Codecast</title>

<link rel="stylesheet" type="text/css" href="/assets/css/style.css">

<header>
  <h1><a href="/">codecast</a></h1>
  <h2>by <a href="//github.com/phuu">phuu</a></h2>
</header>

<div ng-view></div>

<a href="mailto:codecast@phuu.net" class="feedback">Feedback</a>

<script src="/socket.io/socket.io.js"></script>
<script src="/assets/vendor/jquery.min.js"></script>
<script src="/assets/vendor/angular.min.js"></script>
<script src="/assets/vendor/angular-resource.min.js"></script>
<script src="/assets/vendor/ace-src-min-noconflict/ace.js" charset="utf-8"></script>
<script src="/app/ace.js"></script>
<script src="/app/io.js"></script>
<script src="/app/start.js"></script>
<script src="/app/code.js"></script>
<script src="/app/room.js"></script>
<script src="/app/chat.js"></script>
<script src="/app/main.js"></script>