<main class="wrapper landing">
  <h2>Broadcast your code to teach or<br>collaborate on a problem.</h2>

  <a class="btn btn-large"
     href="/auth/github"
     ng-hide="user.profile"
     target="_self">
    <i class="icon-github"></i> Sign in with Github
  </a>

  <a class="btn btn-large"
     href="/start"
     ng-show="user.profile">
    Get codecasting&hellip;
  </a>

  <div class="watchcode">
    Know a code?
    <form ng-submit="watch(watchcode)">
      <input type="text" ng-model="watchcode">
      <button class="btn" type="submit"><i class="icon-eye"></i> Watch</button>
    </form>
  <div>
</main>